/* Main Section */
main {
  background-color: var(--featured-background-color);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Recipe Card */
.recipe-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
}

.recipe-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-info {
  margin: 10px 0;
  font-size: 13px;
  color: #555;
}

/* Headings */
h2 {
  color: var(--primary-color);
  margin-top: 20px;
}

/* Ingredients and Instructions */
.ingredients,
.instructions {
  padding: 10px;
  list-style-type: disc;
}

.ingredients li,
.instructions li {
  margin: 5px 0;
  font-family: var(--font-body);
  font-size: 12px;
}

/* Mobile View */
@media (max-width: 768px) {
  /* Recipe Section */
  main {
    grid-template-columns: 1fr;
  }

  .recipe-card {
    padding: 15px;
    width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .recipe-title {
    font-size: 20px;
  }

  .ingredients li,
  .instructions li {
    font-size: 14px;
  }
}
