@import url("https://use.typekit.net/pao3byg.css");

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #283618;
  background-color: #fcfafa;
}

header {
  color: #fcfafa;
  background-color: #6e8387;
  text-align: center;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #a4b8c4;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  transition: all 0.2s ease-in-out;
}

nav li:hover {
  transform: scale(1.2);
}

nav li a {
  color: #283618;
  text-decoration: none;
}

nav li a:hover {
  color: #fcfafa;
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fcfafa;
}

.card {
  border: 2px solid #3d405b;
  box-shadow: 5px 5px 2.5px #283618;
  padding: 25px;
  margin: 10px;
  background-color: #c8d3d5;
}

#about, #resources {
  background-color: #6e8387;
  color: #fcfafa;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

#about-me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

img {
  max-width: 50%;
  height: auto;
}

#country {
    border-bottom: 1px solid #6e8387;
    text-align: center;
}

footer {
    color: #fcfafa;
    background-color: #6e8387;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

#lastModified {
    font-style: italic;
    color: #d1d1d1;
}