body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #264653;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
}

body h2 {
    text-align: center;
}

nav {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: white;
    color: #333;
    position: absolute;
    top: 3rem;
    right: 1rem;
    border: 1px solid #264653;
    padding: 1rem;
}

nav a {
    padding: 10px 0;
    text-align: center;
    color: #264653;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #264653;
    color: white;
}

.menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 20;
}

.menu:hover {
    color: #2a9d8f;
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "❎";
}

.open {
    display: flex;
}

main {
    margin: 0 auto;
    padding: 2rem;
}

#temple-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 1rem;
}

figure {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f4f1de;
    border: 1px solid #264653;
    padding: 1rem;
}

figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

figcaption {
    padding: 10px;
    color: #333;
    font-size: 1rem;
}

footer {
    background-color: #264653;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}

@media screen and (min-width: 500px) {
    .menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        padding: 1rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 15px;
    }

    nav a {
        padding: 0 10px;
        padding: 10px;
    }

    #temple-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
