/* These are the colors used */
:root {
  --header-background-color: #0038a8;
  --footer-background-color: #c8102e;
  --background-color: #f4f4f4;
  --hero-text-background: #ffffff;
  --text-color: #333333;
  --footer-text-color: #f7f4e9;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Playfair Display", serif;
}

header h1 {
  font-size: 44px;
  text-align: center;
  background-color: var(--header-background-color);
  color: var(--background-color);
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
}

picture img {
  width: 100%;
}

.hero-text {
  padding: 20px;
}

.hero-text h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.hero-text p {
  margin: 5px 0;
  font-size: 16px;
  color: #333333;
}

.hero-text-data p,
.hero-text-weather p {
  line-height: 1.5;
}

.hero-text-data::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.weather-icon img {
    width: 50%;
    margin: 0;
}

footer {
  text-align: center;
  background-color: var(--footer-background-color);
  color: #f7f4e9;
}

footer p {
  margin: 0;
  padding: 10px;
}

@media screen and (min-width: 500px) {
  .hero-text {
    padding: 0;
  }

  .hero-image {
    position: relative;
  }

  .hero-text-data {
    position: absolute;
    top: 10%;
    left: 16px;
    background-color: rgba(255, 255, 0, 0.75);
    padding: 10px;
    border-radius: 8px;
  }

  .hero-text-data h2,
  .weather-icon, .weather-icon h2 {
    text-align: left;
    margin: -10px -20px 10px -20px;
    padding: 10px 20px;
    background-color: var(--header-background-color);
    color: white;
  }

  .hero-text-data::after {
    display: none;
  }

  .hero-text-weather {
    position: absolute;
    bottom: 10%;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border-radius: 8px;
  }

  .weather-icon {
    display: flex;
  }

  .weather-icon h2 {
    margin: 0;
  }

  .weather-icon img {
    width: 50px;
    height: 50px;
  }
}
