body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #264653;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
}

body h2 {
    text-align: center;
}

nav {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #f4f1de;
    color: #333;
    position: absolute;
    top: 3rem;
    right: 1rem;
    border: 1px solid #264653;
    padding: 1rem;
}

nav a {
    padding: 10px 0;
    text-align: center;
    color: #264653;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #e76f51;
    color: white;
    border-radius: 4px;
}

.menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 20;
}

.menu:hover {
    color: #2a9d8f;
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "❎";
}

.open {
    display: flex;
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    padding: 1rem;
}

figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    background-color: #f4f1de;
    border: 1px solid #264653;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #264653;
}

figcaption {
    padding: 10px;
    color: #333;
    font-size: 1rem;
}

footer {
    background-color: #264653;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}
