@media screen and (min-width: 500px) {
    .menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        padding: 1rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 15px;
    }

    nav a {
        padding: 0 10px;
        text-align: center;
        color: #264653;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
    }

    nav a:hover {
        background-color: #e76f51;
        color: white;
        border-radius: 4px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 1rem;
    }
}
